@using EntityLayer.Concrete
@model List<Feature>

<header class="header">
    @foreach (var item in Model)
    {        
        <!-- Image -->
        <div class="img-wrapper">
            <img src="~/Template/images/@item.ImgUrl" alt="image" />
        </div>

        <!-- banner -->
        <div class="banner">
            <h1 class="display-1 mb-4">@item.Title</h1>
            <p class="h2 mb-4">@item.Description1</p>
            <p class="h2 mb-5">@item.Description2</p>
            <a href="#projects" class="text-white text-decoration-none"><button class="btn btn-dark text-uppercase">Discover now</button></a>

        </div>
    }
</header>