@using EntityLayer.Concrete
@model List<Project>

<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Project List</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th> Main Image</th>
                                <th> Project Name </th>
                                <th> URL </th>
                                <th> Status </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@item.ProjectId</td>
                                    <td><img src="@item.ImageUrl" /></td>
                                    <td>@item.Name</td>
                                    <td>@item.ProjectUrl</td>
                                    <td>
                                        <a href="/Project/EditProject/@item.ProjectId/">
                                            <div class="badge badge-outline-success">Show Details</div>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>