@model EntityLayer.Concrete.SocialMedia

@{
    ViewData["Title"] = "EditSocialMedia";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



@using (Html.BeginForm("EditSocialMedia", "SocialMedia", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Edit Social Media Account </p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>ID</label>
                        @Html.TextBoxFor(x => x.SocialMediaId, new { @class = "form-control", @style = "pointer-events: none; opacity:0.5;"})
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Url</label>
                        @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Icon</label>
                        @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                    <button class="btn btn-dark">Close</button>
                </form>
            </div>
        </div>
    </div>
}