@using EntityLayer.Concrete
@model List<ServiceItem>

<div class="section px-3 px-lg-4 pt-5 mt-5" id="services">
    <div class="container-narrow">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">Services</h2>
        </div>
        <!-- <div class="text-center">
          <p class="mx-auto mb-3" style="max-width: 600px">
            I offer services fit for any website or app. I can quickly
            maximize timely deliverables for real-time schemas.
          </p>
        </div> -->
        <div class="row py-3">                                     
                <div class="col-md-4 text-center mt-2"
                     data-aos="fade-up"
                     data-aos-delay="100">
                    <img class="mb-2"
                         src="~/Template/images/services/architect.png"
                         width="80"
                         height="80"
                         alt="web design" />
                    <div class="h5 text-uppercase">PROJECT AND SERVICES</div>                                     
                    <ul class="list-group">    
                
                        <li class="list-group-item text-capitalize">interior design</li>
                        <li class="list-group-item text-capitalize">Concept Development</li>
                        <li class="list-group-item text-capitalize">urban design</li>
                        <li class="list-group-item text-capitalize">Industrial design</li>
                        <li class="list-group-item text-capitalize">Graphic design</li>
                        <li class="list-group-item text-capitalize">Application Drawing and specification</li>
                        <!-- <li class="list-group-item text-capitalize">Saha uygulama ve kontrolü</li> -->
                        
                    </ul>
                </div>
                <div class="col-md-4 text-center mt-2"
                     data-aos="fade-up"
                     data-aos-delay="200">
                    <img class="mb-2"
                         src="~/Template/images/services/home.png"
                         width="80"
                         height="80"
                         alt="graphic design" />
                    <div class="h5 text-uppercase">
                        PROJECT MANAGEMENT AND CONSULTING SERVICES
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item text-capitalize">Project development & design & implementation coordination</li>
                        <li class="list-group-item text-capitalize">project process purchasing management & business consultancy</li>
                        <li class="list-group-item text-capitalize">project & construction process management and evaluation</li>
                    </ul>
                </div>
                <div class="col-md-4 text-center mt-2"
                 data-aos="fade-up"
                 data-aos-delay="300">
                <img class="mb-2"
                     src="~/Template/images/services/engineer.png"
                     width="80"
                     height="80"
                     alt="ui-ux" />
                <div class="h5 text-uppercase">
                    BUILDING
                    SERVICES
                </div>
                <ul class="list-group">
                    <li class="list-group-item text-capitalize">Small And Medium-Sized Building Construction</li>
                    <li class="list-group-item text-capitalize">interior application works</li>
                </ul>
            </div>            
        </div>
    </div>
</div>             